<div class="row">
  <div class="span8">
    <table class="table table-hover table-bordered">
      <thead><tr><th>Room</th></tr></thead>
      {{collection tag="tbody" item-view="homeitem"}}
    </table>
  </div>
  <div class="span4">
  </div>
</div>