<div class="navbar-inner">
  <a class="brand" href="#">P2P - Collaborative Edit</a>
  <ul class="nav pull-right">
    <li data-route="home"><a href="#">Home</a></li>
    <li data-route="about"><a href="#about">About</a></li>
  </ul>
</div>
