<!-- .DocumentList -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 bs-docs-sidebar">
      <ul class="nav nav-list bs-docs-sidenav affix-top">
        <li><a href="#" data-action="create-new"><i class="icon-plus"></i> Create New</a></li>
        <li><a href="#"><i class="icon-cloud-download"></i> Export</a></li>
        <li><a href="#"><i class="icon-cloud-upload"></i> Import</a></li>
      </ul>
    </div>

    <div class="span9">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Your Documents</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>   
    </div>
  </div>
</div>
