<div class="navbar-inner center">
  <ul class="nav">
    <li><a href="#"><i class="icon-chevron-left"></i></a></li>
  </ul>
  <a href="#" class="document-title" id="title" data-type="text" data-original-title="{{title}}">{{title}}</a>
</div>

